{% comment %} <section>
  <div class="three-images-wrapper">
    {%- if section.settings.image != blank -%}
      <div class="one-user">
        <h1></h1>
      </div>
    {%- else -%}
      <div class="one">
        <h1></h1>
      </div>
    {%- endif -%}
    {%- if section.settings.image2 != blank -%}
      <div class="two-user">
        <h1></h1>
      </div>
    {%- else -%}
      <div class="two">
        <h1></h1>
      </div>
    {%- endif -%}
    {%- if section.settings.image3 != blank -%}
      <div class="three-user">
        <h1></h1>
      </div>
    {%- else -%}
      <div class="three">
        <h1></h1>
      </div>
    {%- endif -%}
  </div>
</section>

<style>
  .three-images-wrapper {
    display: flex;
  }

  .one {
    background-image: url("{{ 'one.png' | asset_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .one-user {
    background-image: url("{{ section.settings.image | image_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .two {
    background-image: url("{{ 'two.png' | asset_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .two-user {
    background-image: url("{{ section.settings.image2 | image_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .three {
    background-image: url("{{ 'three.png' | asset_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .three-user {
    background-image: url("{{ section.settings.image3 | image_url }}");
    width: 33.333%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
</style>

 {% endcomment %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <title>review carousel using JavaScript</title>
<style>
  /* filename: style.css */
.review {
	background: rgb(145, 226, 188);
	height:500px;
	width: 100%;
	
	margin: auto;
	padding: 10px;
	

	align-items: center;
  border: 1px solid red;
}

.review__items {
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	padding: 10px;
	align-items: center;
}

.review__items img {
	height:500px;
	width:100%;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
}

.review__items h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}

.review__items p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}

.review__button {
	text-align: center;
	padding: 10px;
}

.review__button button {
	color: rgb(192, 229, 192);

}

.review__items {
	display: none;
}

</style>
 </head>
 
 <div class="review">
   <div class="review__items">
       <img src="{{'ravi1.jpg' |  asset_url}}"  alt="" height="" width=""/>
    
   </div>
   <div class="review__items">
       <img src=
 "https://media.geeksforgeeks.org/wp-content/uploads/20210101144014/gfglogo.png"  alt=""   height="" width=""/>
     
   </div>
   <div class="review__items">
<img src="https://media.geeksforgeeks.org/img-practice/courses/GfG_Logo.png" alt=""  height="" width=""/> 
     
   </div>
   <div class="review__button">
       <button id="prev" onclick="previousReview()">
           PREV
       </button>
 
       <button id="next" onclick="nextReview()">
           NEXT
       </button>
   </div>
 </div>
 </html>
 <script>
  //Filename: script.js
let rev = 0;
carousel(rev);

function previousReview() {
	rev = rev - 1;
	carousel(rev);
}

function nextReview() {
	rev = rev + 1;
	carousel(rev);
}

function carousel(review) {
	let reviews = document.getElementsByClassName("review__items");

	if (review >= reviews.length) {
		review = 0;
		rev = 0;
	}
	if (review < 0) {
		review = reviews.length - 1;
		rev = reviews.length - 1;
	}
	for (let i = 0; i < reviews.length; i++) {
		reviews[i].style.display = "none";
	}
	reviews[review].style.display = "block";
}

 </script>
 